<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
							<!--<div class="form-group">
								<label class="col-sm-3 control-label">账号：</label>
								<div class="col-sm-8">
									<input id="username" name="username" class="form-control" type="text">
								</div>
							</div>-->

							<div class="form-group">
								<label class="col-sm-3 control-label">选择岗位：</label>
								<div class="col-sm-8">
									<label th:each="job:${jobs}" class="checkbox-inline">
										<input name="jobsid" type="checkbox" th:value="${job.id}"
											   th:text="${job.jobname}">
									</label>
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">输入密码：</label>
								<div class="col-sm-8">
									<input id="password" name="password" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">用户状态：</label>
								<div class="col-sm-8">
									<!--<input id="status" name="status" class="form-control" type="text">-->
									<label class="radio-inline">
										<input type="radio" name="status" value="1" checked /> 启用
									</label>
									<label class="radio-inline">
										<input type="radio" name="status" value="0" /> 停用
									</label>
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">描述：</label>
								<div class="col-sm-8">
									<input id="remarks" name="remarks" class="form-control" type="text">
								</div>
							</div>

																					<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/tempuser/tempuser/add.js">
	</script>
</body>
</html>
