<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="col-sm-12">
			<div class="ibox">
				<div class="ibox-body">
					<div class="fixed-table-toolbar fixed-table-tempuser">
						<div class="fixed-table-tempuser-left">
							<div class="columns pull-left col-md-1.5 nopadding">
								<input type="text" class="form-control" id="searchstarttime" placeholder="开始时间" style="width:160px;">
							</div>
							<div class="columns pull-left col-md-1.5 nopadding">
								<input type="text" class="form-control" id="searchendtime" placeholder="结束时间" style="width:160px;">
							</div>
							<div class="columns pull-left">
								<button class="btn btn-success" onclick="reLoad()">查询</button>
							</div>
						</div>
						<div class="columns pull-right">
							<button shiro:hasPermission="tempuser:tempuser:add" type="button" class="btn  btn-primary" onclick="add()">
								<i class="fa fa-plus" aria-hidden="true"></i>新增
							</button>
							<button shiro:hasPermission="tempuser:tempuser:add" type="button" class="btn  btn-primary" onclick="batchAdd()">
								<i class="fa fa-plus" aria-hidden="true"></i>批量新增
							</button>
							<button shiro:hasPermission="tempuser:tempuser:edit" type="button" class="btn  btn-primary" onclick="batchEdit()">
								<i class="fa fa-edit" aria-hidden="true"></i>修改密码
							</button>
							<button shiro:hasPermission="tempuser:tempuser:batchRemove" type="button" class="btn  btn-danger"
								onclick="batchRemove()">
								<i class="fa fa-trash" aria-hidden="true"></i>删除
							</button>
						</div>



					</div>
					<table id="exampleTable" data-mobile-responsive="true">
					</table>
				</div>
			</div>
		</div>
	</div>
	<!--shiro控制bootstraptable行内按钮看见性 来自bootdo的创新方案 -->
		<div>
			<script type="text/javascript">
				var s_edit_h = 'hidden';
				var s_remove_h = 'hidden';
				var s_resetPwd_h = 'hidden';
			</script>
		</div>
		<div shiro:hasPermission="tempuser:tempuser:edit">
			<script type="text/javascript">
				s_edit_h = '';
			</script>
		</div>
		<div shiro:hasPermission="tempuser:tempuser:remove">
			<script type="text/javascript">
				var s_remove_h = '';
			</script>
		</div>
		<div shiro:hasPermission="tempuser:tempuser:resetPwd">
			<script type="text/javascript">
				var s_resetPwd_h = '';
			</script>
		</div>
	</div>
	<div th:include="include :: footer"></div>
	<script type="text/javascript" src="/js/appjs/tempuser/tempuser/tempuser.js"></script>
</body>
</html>