<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="col-sm-12">
			<div class="ibox">
				<div class="ibox-body">
					<div class="fixed-table-toolbar fixed-table-applicants">
						<div class="columns pull-right">
							<button type="button" class="btn  btn-success" onclick="exportList()">
								<i class="" aria-hidden="true"></i>导出列表
							</button>
						</div>

						<div class="columns pull-left col-md-1.5 nopadding">
							<input type="text" class="form-control" id="searchstarttime" placeholder="开始时间" style="width:160px;">
						</div>
						<div class="columns pull-left col-md-1.5 nopadding">
							<input type="text" class="form-control" id="searchendtime" placeholder="结束时间" style="width:160px;">
						</div>
						<div class="columns pull-left col-md-2 nopadding">
							<!--<input id="searchName" type="text" class="form-control" placeholder="岗位名称">-->
							<select id="searchName" data-placeholder="选择岗位" class="form-control chosen-select"
									tabindex="2" style="width: 100%">
								<option value="">选择岗位</option>
							</select>
						</div>
						<div class="columns pull-left">
							<button class="btn btn-success" onclick="reLoad()">查询</button>
						</div>
					</div>
					<table id="exampleTable" data-mobile-responsive="true">
					</table>
				</div>
			</div>
		</div>
	</div>
	<!--shiro控制bootstraptable行内按钮看见性 来自bootdo的创新方案 -->
		<div>
			<script type="text/javascript">
				var s_edit_h = 'hidden';
				var s_remove_h = 'hidden';
				var s_resetPwd_h = 'hidden';
			</script>
		</div>
		<div shiro:hasPermission="preadmission:applicants:edit">
			<script type="text/javascript">
				s_edit_h = '';
			</script>
		</div>
		<div shiro:hasPermission="preadmission:applicants:remove">
			<script type="text/javascript">
				var s_remove_h = '';
			</script>
		</div>
		<div shiro:hasPermission="preadmission:applicants:resetPwd">
			<script type="text/javascript">
				var s_resetPwd_h = '';
			</script>
		</div>
	</div>
	<div th:include="include :: footer"></div>
	<script type="text/javascript" src="/js/appjs/preadmission/applicants/applicants.js"></script>
</body>
</html>